In [1]:
import pandas as pd
import os
import glob

In [2]:
# get to the current working directory
os.getcwd()

'C:\\Users\\uv9374\\Documents\\GT Bootcamp\\HW\\tableau-challenge'

In [3]:
files = os.listdir()
files

['.ipynb_checkpoints',
 'citi_bike_2020_01_08.csv',
 'data',
 'Images',
 'merge_datasheets.ipynb',
 'README.md']

In [4]:
combined_csv = pd.concat([pd.read_csv(f) for f in glob.glob('data/JC*.csv')], ignore_index = True)
combined_csv.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
combined_csv.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624861 entries, 0 to 624860
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             624861 non-null  int64
 1   starttime                624861 non-null  object
 2   stoptime                 624861 non-null  object
 3   start station id         624861 non-null  int64
 4   start station name       624861 non-null  object
 5   start station latitude   624861 non-null  float64
 6   start station longitude  624861 non-null  float64
 7   end station id           624861 non-null  int64
 8   end station name         624861 non-null  object
 9   end station latitude     624861 non-null  float64
 10  end station longitude    624861 non-null  float64
 11  bikeid                   624861 non-null  int64
 12  usertype                 624861 non-null  object
 13  birth year               624861 non-null  int64
 14  gender                   624861 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 71.5+ MB

In [8]:
missing_lat_lon = combined_csv[(combined_csv['start station latitude']==0) |
                (combined_csv['start station longitude']==0) |                         
                (combined_csv['end station latitude']==0) |
                (combined_csv['end station longitude']==0)]
missing_lat_lon

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
562920,706,2020-07-17 08:49:47.8100,2020-07-17 09:01:33.8810,3186,Grove St PATH,40.719586,-74.043117,3475,Liberty State Park,0.0,0.0,40831,Subscriber,1991,1
567059,546,2020-07-20 08:53:36.6680,2020-07-20 09:02:42.8980,3694,Jackson Square,40.711130,-74.078900,3475,Liberty State Park,0.0,0.0,44683,Subscriber,1997,1

In [9]:
combined_csv = combined_csv[combined_csv['end station latitude'] != 0]

In [10]:
combined_csv.to_csv("citi_bike_2019_2020.csv", index=False)